<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title }} - 审计法规库</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link href="../static/jquery-treeview/jquery.treeview.css" rel="stylesheet" />
    <link href="../static/jquery-treeview/demo/screen.css" rel="stylesheet" />
    <script src="../static/jquery-treeview/demo/jquery-3.2.1.min.js"></script>
    <script src="../static/jquery-treeview/jquery.treeview.js"></script>
    <script src="../static/jquery-treeview/demo/jquery.cookie.js"></script>
    <script src="../static/jquery-treeview/jquery.treeview.js"></script>
    <script src="../static/ckeditor/ckeditor.js"></script>
    <script charset="utf-8" src="/static/kindeditor/plugins/code/prettify.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body style="background-image: url(../static/image/icon/background1.jpg); ">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <label class="btn-toolbar"><img src="../static/image/icon/logo.jpg" width="64" height="64" class="img-circle" /></label>
                <label class="btn-toolbar">&nbsp;</label>
            </div>
            <div class="navbar-header">
                <h5><a href="/" class="navbar-brand">审计法规库</a></h5>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <img src="{% if g.current_user %}
                             ../static/image/userface/{% if g.current_user.user_head=='' %}anomose.jpg{% else %}{{g.current_user.user_head}}{% endif %}
                          {% else %}
                            ../static/image/userface/anomose.jpg
                          {% endif %}
                         "
                             class="img-circle" width="64" height="64" />
                        <font color="blue">
                            {% if g.current_user %}
                            {{g.current_user.username}}
                            {% else %}
                            游客
                            {% endif %}
                        </font>

                    </li>
                    <li><a href="{{url_for('login')}}" target="_blank"><h5>登录</h5></a></li>
                    <li><a href="{{url_for('register')}}" target="_blank"><h5>注册</h5></a></li>
                    {% if g.current_user %}
                    <li><a href="{{url_for('logout')}}"><h5>退出</h5></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}} alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container body-content">
        <div class="col-lg-12">
            <div class="jumbotron">
                <div class="row">
                    <br />
                    <div class="list-group-item-text" style="text-align:center">
                        <form method="post" action="{{url_for('searchLaw',page=1)}}">
                            {% if form.content.errors %}
                            {% for e in form.content.errors %}
                            <p class="help-block"><font color="red">{{e}}</font></p>
                            {% endfor %}
                            {% endif %}
                            {{form.content(_class='form-control')}}
                            {% if form.searchtype.errors %}
                            {% for e in form.searchtype.errors %}
                            <p class="help-block"><font color="red">{{e}}</font></p>
                            {% endfor %}
                            {% endif %}
                            {{form.searchtype(_class='form-control')}}
                            <input type="submit" class="btn-primary" value="搜一下" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - 云南省审计厅●审计法规库&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('contact')}}" target="_blank">联系我们</a></p>
            Powered by<img src="../static/image/icon/python.jpg" height="32" width="126"/>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
