{% extends "base.html" %}

{% block content %}
<div class="col-lg-12">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item-heading" style="text-align:center">
                        <a href="{{url_for('listlaw',type='综合')}}">
                            <img src="../static/image/icon/zh.jpg" width="180" height="180" class="img-circle" title="综合类" />
                        </a>
                    </div>
                    <div class="text-center">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item-heading" style="text-align:center">

                        <a href="{{url_for('listlaw',type='审计')}}">
                            <img src="../static/image/icon/sj.jpg" width="180" height="180" class="img-circle" title="审计类" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item-heading" style="text-align:center">
                        <a href="{{url_for('listlaw',type='财政财务')}}">
                            <img src="../static/image/icon/cz.jpg" width="180" height="180" class="img-circle" title="财政财务类" />
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item-heading" style="text-align:center">
                        <a href="{{url_for('listlaw',type='税收')}}">
                            <img src="../static/image/icon/ss.jpg" width="180" height="180" class="img-circle" title="税收类" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item-heading" style="text-align:center">

                        <a href="{{url_for('listlaw',type='金融')}}">
                            <img src="../static/image/icon/jr.jpg" width="180" height="180" class="img-circle" title="金融类" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item-heading" style="text-align:center">
                        <a href="{{url_for('listlaw',type='企业')}}">
                            <img src="../static/image/icon/qy.jpg" width="180" height="180" class="img-circle" title="企业类" />
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <div class="list-group-item-heading" style="text-align:center">

                        <a href="{{url_for('listlaw',type='党内规章制度')}}">
                            <img src="../static/image/icon/dn.jpg" width="180" height="180" class="img-circle" title="党内规章制度" />
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}