{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
    <div class="jumbotron">
        <div class="row">
            {% if types %}
                {% for type in types %}
                    <div class="col-lg-3">
                        <div class="list-group">
                            <div class="list-group-item-heading" style="text-align:center">
                                <a href="{{url_for('listlaw',page=1,type=type.LawTypName)}}" target="_blank">
                                    <img src="
                                         {% if type.typeimage %}
                                         ../static/image/icon/{{type.typeimage}}
                                         {% else %}
                                         ../static/image/icon/defaultypeicon.jpg
                                         {% endif %}
                                         "
                                         width="180" height="180"
                                         class="img-circle" title={{type.LawTypName}} />
                                </a>
                            </div> 
                            <p class="label-info">
                                <h3 style="text-align:center;font-family:SimHei">
                                    <a href="{{url_for('listlaw',page=1,type=type.LawTypName)}}" target="_blank">{{type.LawTypName}}</a>
                                </h3>
                            </p>                           
                        </div>
                    </div>
                {% endfor %}
            {% endif %}          
        </div>       
    </div>
</div>

{% endblock %}