{% extends "base.html" %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading" style="align-content:center">
                        <h2 style="font-family:SimHei"><p style="text-align:center" id="lawtitlejs"> {{law.LawTitle}} </p></h2>
                        <h3 style="text-align:center;font-family:FangSong_GB2312">{{law.LawFileNo}}</h3>
                        <hr style="height:5px;border:none;border-bottom:5px solid red;"/>
                        <h4 style="font-family:YouYuan">
                            <p>
                                <li class="list-unstyled"><span class="glyphicon glyphicon-file"></span>文&nbsp;&nbsp;&nbsp;&nbsp;号：{{law.LawFileNo}}</li>
                                <li class="list-unstyled"><span class="glyphicon glyphicon-home"></span>发布部门:{{law.LawPublishDepart}}</li>
                                <li class="list-unstyled"><span class="glyphicon glyphicon-flag"></span>分&nbsp;&nbsp;&nbsp;&nbsp;类：<a href="{{url_for('listlaw',page=1,type=parentType.LawTypName)}}" target="_blank">{{parentType.LawTypName}}</a>>>{{law.LawType.LawTypName}}</li>
                                <li class="list-unstyled"><span class="glyphicon glyphicon-dashboard"></span>生效日期：{{law.LawPublishDate}}</li>
                                <li class ="list-unstyled"><span class="glyphicon glyphicon-tags"></span>关&nbsp;键&nbsp;词:
                                    {% for tag in tags %}
                                    {{tag | safe }} </a>
                                    {% endfor %}
                                </liclass>
                                <li class="list-unstyled"><span class="glyphicon glyphicon-info-sign"></span>
                                    备&nbsp;&nbsp;&nbsp;&nbsp;注:{{law.LawMark}}
                                </li>
                                <li class="list-unstyled"><span class="glyphicon glyphicon-user"></span>
                                     贡&nbsp;献&nbsp;人:{{law.user.department.departmentname}}>>{{law.user.username}}
                                </li>
                                <li class="list-unstyled" style="text-align:right">
                                    <a class="jquery-word-export" href="javascript:void(0)">
                                        <span class="glyphicon glyphicon-save"></span>
                                        下载法规正文
                                    </a>
                                </li>
                                <!--<a class="btn btn-default jquery-word-export" style="color: aqua">
                                    <span class="word-icon">W</span>
                                    导出为.doc文档
                                </a>-->
                            </p>
                        </h4>
                        </span>
                        </p>
                        <h4></h4>
                    </div>
                    <div class="list-group-item-text" style="font-family:FangSong_GB2312" id="pagecontent">
                        <pre>
                        <h3 style="font-family: FangSong_GB2312">{{law.LawContent|safe }}   </h3>
                        </pre>

                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4>评论区</h4>
        </div>
        <div class="col-lg-12">
            {% if comments %}
            <div class="list-group">
                {% for comment in comments %}
                <div class="list-group-item">
                    <div class="list-group-item-text">
                        <h5>{{comment.name}}</h5>
                    </div>

                    <div class="list-group-item-text">
                        <h5>{{comment.text}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5><br />时间:{{comment.date}}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-text">
                        <h5>还没有任何评论，快抢沙发</h5>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-12">
            <div class="col-lg-12"><h4>发表评论</h4></div>
            <div class="list-group">
                <form method="post" action="{{url_for('detail',law_id=law.id,check='1')}}">
                    {{commentform.hidden_tag()}}
                    <div class="list-group-item">
                        <div class="list-group-item-text">
                            <h5>标题</h5>
                            {% if commentform.name.errors %}
                            {% for e in commentform.name.errors%}
                            <p class="help-block"><font color="red">{{e}}</font></p>
                            {% endfor %}
                            {% endif %}
                            {{commentform.name(class_='form-control')}}
                        </div>
                        <div class="list-group-item-text">
                            <h5>内容</h5>
                            {% if commentform.text.errors %}
                            {% for e in commentform.text.errors %}
                            <p class="help-block"><font color="red">{{e}}</font></p>
                            {% endfor %}
                            {% endif %}
                            {{ commentform.text(class_='form-control')}}
                        </div>
                        <p>
                            <div class="list-group-item-text">
                                <input class="btn btn-primary" type="submit" value="添加评论" />
                            </div>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block scripts %}
<script src="../static/exportWord/js/jquery-2.1.1.min.js"></script>
<script src="../static/exportWord/js/FileSaver.js"></script>
<script src="../static/exportWord/js/jquery.wordexport.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var obj = document.getElementById("lawtitlejs")
        var filename=obj.textContent;
        $("a.jquery-word-export").click(function (event) {
            $("#pagecontent").wordExport(filename);
        });
    });
</script>

{% endblock %}