{% extends "layout.html" %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <div class="jumbotron">
                <div class="list-group">
                    <div class="list-unstyled">
                        最新更新
                    </div>
                    <div class="list-group-item">
                        <div class="list-group-item-heading">
                            Head
                        </div>
                        <div class="list-group-item-text">
                            <p>
                                this is a test
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="list-group-item-heading">
                            Head
                        </div>
                        <div class="list-group-item-text">
                            <p>
                                this is a test
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="list-group-item-heading">
                            Head
                        </div>
                        <div class="list-group-item-text">
                            <p>
                                this is a test
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-3">
            <div class="jumbotron">
                <div class="list-group">
                    <div class="list-group-item-heading">
                        Hotest
                    </div>
                    <div class="list-group-item">
                        <div class="list-group-item-heading">
                            test
                        </div>
                        <div class="list-group-item-text">
                            test
                        </div>
                        <div class="list-group-item-heading">
                            test
                        </div>
                        <div class="list-group-item-text">
                            test
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
