
{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <img src="{% if g.current_user %}
                             ../static/image/{{g.current_user.user_head}}
                          {% else %}
                            ../static/image/anomose.jpg
                          {% endif %}
                         "
                     class="img-thumbnail" width="64" height="64" />
                <h4>
                    {% if g.current_user %}
                    {{ g.current_user.username }}
                    {% else %}
                    游客
                    {% endif %}
                    &nbsp;&nbsp;你好，欢迎进入审计法律法规库
                </h4>
            </div>
            <div class="col-lg-2">
                
            </div>
          
        </div>
    </div>
        <div class="row">
            <div class="col-lg-12">
                    <div class="list-group">
                        <div class="list-unstyled">
                            最新更新
                        </div>
                        {% if laws %}
                        {% for law in laws %}
                        <div class="list-group-item">
                            
                            <div class="list-group-item-heading">
                                <h4><a href="{{url_for('detail',law_id=law.id)}}">标题：&nbsp;&nbsp;{{law.LawTitle}}</a></h4>
                                <p>
                                    <h5>
                                        文号：{{law.LawFileNo}}&nbsp;&nbsp;&nbsp;&nbsp;分类：
                                        {% if law.LawType %}
                                        {{law.LawType}}
                                        {% else %}
                                        未分类
                                        {% endif %}
                                    </h5>
                                </p>
                            </div>
                            <div class="list-group-item-text" id="LawContent">
                                
                                    <div class="btn btn-link"><a href="{{url_for('detail',law_id=law.id)}}">查看详细</a></div> 
                           
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                        {% endif %}                        
                    </div>
                <div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
 {% block scripts %}
<script>
    CKEDITOR.replace('LawContent1');
</script>

{% endblock %}