{% extends "base.html" %}

{% block content %}
<div class="col-lg-12">
    
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    
                    <div class="list-group">
                        <h4>{{type}}类：</h4>
                        <h5>
                            {% if laws.items %}
                            {% for law in laws.items %}
                            <div class="list-group-item">
                                <div class="list-group-item-heading">
                                    <a href="{{url_for('detail',law_id=law.id)}}">{{law.LawTitle}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    文号：&nbsp;&nbsp;{{law.LawFileNo}}&nbsp;&nbsp;&nbsp;&nbsp;
                                    发布日期：&nbsp;&nbsp;{{law.LawPublishDate}}
                                </div>
                                <div class="list-group-item-text">
                                    {{law.LawContent|truncate(255)|safe}}
                                </div>
                                <div class="btn-default">
                                    <h6><i><a href="{{url_for('detail',law_id=law.id)}}">查看详细</a></i></h6>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="list-group-item">
                                <div class="list-group-item-heading">
                                    该分类还未维护相应法规
                                </div>
                                
                            </div>
                            {% endif %}
                        </h5>
                    </div>
                    <h5>
                        {% if laws.pages!=0 %}第&nbsp;
                        {% for p in range(laws.pages) %}
                        <a href="{{url_for('listlaw',page=p+1,type=type)}}">{{p+1}}&nbsp;</a>
                        {% endfor %}
                        页
                        {% endif %}
                    </h5>
                </div>

                <div class="col-lg-2">
                   
                    <h6>{% if g.current_user %}
                       
                            <a href="{{url_for('new')}}">
                                <img src="../static/image/icon/addnew.jpg" class="img-circle" width="40" height="40"/>我来贡献</a><br />
                        
                        {% endif %}
                        <img src="../static/image/icon/new.jpg" class="img-circle" width="40" height="40" />最新更新
                        {% if recent %}
                        {% for rlaw in recent %}
                        <ul>
                            <div class="list-group-item-heading">
                                <li><a href="{{url_for('detail',law_id=rlaw.id)}}">{{rlaw.LawTitle}}</a></li>
                            </div>
                        </ul>
                        {% endfor %}
                        {% endif %}
                        
                        
                        
                    </h6>
                    
                </div>
                <div class="row">
                    <div class="container">

                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}