{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        
        <div class="col-lg-12">
            <form method="post" action="{{url_for('new')}}">
                {{newform.hidden_tag()}}
                <div class="list-group-item">
                    <div class="list-group-item-text">
                        <h5>标题:</h5>
                        {% if newform.LawTitle.errors %}
                        {% for e in newform.LawTitle.errors%}
                        <p class="help-block"><font color="red">{{e}}</font></p>
                        {% endfor %}
                        {% endif %}
                        {{newform.LawTitle(class_='form-control')}}
                    </div>
                    <div class="list-group-item-text">
                        <h5>文号：</h5>
                        {% if newform.LawFileNo.errors %}
                        {% for e in newform.LawFileNo.errors%}
                        <p class="help-block"><font color="red">{{e}}</font></p>
                        {% endfor %}
                        {% endif %}
                        {{newform.LawFileNo(class_='form-control')}}
                    </div>
                    <div class="list-group-item-text">
                        <h5>法规分类</h5>
                        {% if newform.LawType.errors %}
                        {% for e in newform.LawType.errors %}
                        <p class="help-block"><font color="red">{{e}}</font></p>
                        {% endfor %}
                        {% endif %}
                        {{ newform.LawType(class_='form-control')}}
                    </div>
                    <div class="list-group-item-text">
                        <h5>发规发布/生效日期：</h5>
                        {% if newform.LawPublishDate.errors %}
                        {% for e in newform.LawPublishDate.errors %}
                        <p class="help-block"><font color="red">发规发布/生效日期：{{e}}</font></p>
                        {% endfor %}
                        {% endif %}
                        {{ newform.LawPublishDate(class_='datetimepicker-days',type='date')}}
                    </div>
                    
                    <div class="list-group-item-text">
                        <h5>法规正文</h5>
                        {% if newform.LawContent.errors %}
                        {% for e in newform.LawContent.errors %}
                        <p class="help-block"><font color="red">{{e}}</font></p>
                        {% endfor %}
                        {% endif %}
                        {{ newform.LawContent}}
                    </div>
                    <div class="list-group-item-text">
                        <h5>标签(多个标签以空格分隔):</h5>
                        {% if newform.LawTags.errors %}
                        {% for e in newform.LawTags.errors %}
                        <p class="help-block"><font color="red">{{e}}</font></p>
                        {% endfor %}
                        {% endif %}
                        {{ newform.LawTags(class_='form-control')}}
                    </div>
                    <div class="list-group-item-text">
                        <h5>备注：(可以备注法规的废止日期等)</h5>
                        {% if newform.LawMark.errors %}
                        {% for e in newform.LawMark.errors %}
                        <p class="help-block"><font color="red">{{e}}</font></p>
                        {% endfor %}
                        {% endif %}
                        {{ newform.LawMark(class_='form-control')}}
                    </div>
                    <p>
                        <div class="list-group-item-text">
                            <input class="btn btn-primary" type="submit" value="提交" />
                            
                        </div>
                    </p>
                </div>
            </form>

        </div>
        
    </div>
</div>
{% endblock%}
 {% block scripts %}
<script>
    CKEDITOR.replace('LawContent', {
        filebrowserUploadUrl: '/ckupload/',
    });
    
</script>
<script type="text/javascript">
    function OnSave() {
        if (CKEDITOR.instances.LawContent.getData() == "") {
            alert("内容不能为空！");
            return false;
        } else {
            alert(CKEDITOR.instances.LawContent.getData());
        }
    }
</script>

{% endblock %}