{% extends "base.html" %}
{% block content %}
<div class="row">

    <div class="col-lg-12">
        <div class="list-group">
            <div class="list-group-item">
                <div class="list-group-item-text" style="text-align:center">

                    <img src="../static/image/404.jpg" style="text-align:center"/>
                </div>
                <div class="list-group-item-text" style="text-align:center">
                    <h3>服务器未找到你所请求的页面</h3>
                </div>
                <div class="list-group-item-text" style="text-align:center">
                    <a href="{{url_for('default')}}">返回主页</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}